@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius: var(--radius);
}

@layer base {

  :root {
    --font-sans: 'IBM Plex Sans Arabic', sans-serif;
    --background: 0 0% 100%;
    --foreground: 158 42% 18%;
    /* Emerald 900 */
    --card: 0 0% 100%;
    --card-foreground: 158 42% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 158 42% 18%;
    --primary: 158 64% 52%;
    /* Emerald 500 */
    --primary-foreground: 0 0% 100%;
    --secondary: 166 74% 97%;
    /* Emerald 50 */
    --secondary-foreground: 158 42% 18%;
    --muted: 166 74% 97%;
    --muted-foreground: 161 17% 41%;
    --accent: 166 74% 97%;
    --accent-foreground: 158 42% 18%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 158 29% 90%;
    --input: 158 29% 90%;
    --ring: 158 64% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 164 45% 8%;
    /* Very dark Emerald */
    --foreground: 155 35% 94%;
    --card: 164 45% 8%;
    --card-foreground: 155 35% 94%;
    --popover: 164 45% 8%;
    --popover-foreground: 155 35% 94%;
    --primary: 158 64% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 163 42% 18%;
    --secondary-foreground: 155 35% 94%;
    --muted: 163 42% 18%;
    --muted-foreground: 157 20% 65%;
    --accent: 163 42% 18%;
    --accent-foreground: 155 35% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 163 42% 18%;
    --input: 163 42% 18%;
    --ring: 162 48% 41%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}