# Basics
.DS_Store
*.log

# Node
node_modules/
dist/
coverage/

# Text Editors
.vscode/
.idea/
*.iml

# Environment Variables (IMPORTANT)
.env
.env.*
!.env.example

# Android / Gradle
.gradle/
build/
captures/
.externalNativeBuild
.cxx
local.properties
*.jks
key.properties

# NestJS
backend/dist/

# Web
web/dist/
