--
-- PostgreSQL database dump
--

\restrict WpjPHOgOsxd1HJaVLdGmBAlBbuz6wBfgCO6uXq2YPItcqJmHQEIyKnVsrjTRHWt

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: accounts_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.accounts_type_enum AS ENUM (
    'bank',
    'broker',
    'cash',
    'certificate',
    'real_estate'
);


ALTER TYPE public.accounts_type_enum OWNER TO postgres;

--
-- Name: assets_risklevel_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.assets_risklevel_enum AS ENUM (
    'Low',
    'Medium',
    'High'
);


ALTER TYPE public.assets_risklevel_enum OWNER TO postgres;

--
-- Name: assets_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.assets_type_enum AS ENUM (
    'Sukuk',
    'Equity',
    'Fund',
    'Real Estate',
    'Cash',
    'ETF',
    'REIT',
    'Stock',
    'Certificate',
    'Currency'
);


ALTER TYPE public.assets_type_enum OWNER TO postgres;

--
-- Name: transfer_rules_actiontype_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.transfer_rules_actiontype_enum AS ENUM (
    'TRANSFER_PERCENTAGE',
    'TRANSFER_FIXED',
    'ALERT_ONLY',
    'CATEGORIZE'
);


ALTER TYPE public.transfer_rules_actiontype_enum OWNER TO postgres;

--
-- Name: transfer_rules_conditiontype_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.transfer_rules_conditiontype_enum AS ENUM (
    'INCOME_RECEIVED',
    'MONTHLY_DATE',
    'BALANCE_ABOVE',
    'BALANCE_BELOW'
);


ALTER TYPE public.transfer_rules_conditiontype_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts (
    id integer NOT NULL,
    name character varying NOT NULL,
    currency_code character varying(3) NOT NULL,
    balance numeric(15,2) DEFAULT '0'::numeric NOT NULL,
    type public.accounts_type_enum DEFAULT 'bank'::public.accounts_type_enum NOT NULL,
    is_primary boolean DEFAULT false NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.accounts OWNER TO postgres;

--
-- Name: accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.accounts_id_seq OWNER TO postgres;

--
-- Name: accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.accounts_id_seq OWNED BY public.accounts.id;


--
-- Name: assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assets (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    symbol character varying NOT NULL,
    type public.assets_type_enum DEFAULT 'ETF'::public.assets_type_enum NOT NULL,
    "riskLevel" public.assets_risklevel_enum DEFAULT 'Medium'::public.assets_risklevel_enum NOT NULL,
    "currentPrice" numeric(10,2) DEFAULT '10'::numeric NOT NULL,
    "expectedReturn" numeric(5,2) NOT NULL,
    "minInvestment" numeric(10,2) NOT NULL,
    description character varying,
    "isZakatable" boolean DEFAULT true NOT NULL,
    "isShariaCompliant" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.assets OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    type character varying DEFAULT 'EXPENSE'::character varying NOT NULL,
    "userId" uuid
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: envelopes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.envelopes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    "limitAmount" numeric(10,2) NOT NULL,
    period character varying DEFAULT 'Monthly'::character varying NOT NULL,
    "userId" uuid NOT NULL
);


ALTER TABLE public.envelopes OWNER TO postgres;

--
-- Name: holdings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.holdings (
    id integer NOT NULL,
    instrument_code character varying NOT NULL,
    asset_id uuid,
    units numeric(18,6) NOT NULL,
    is_primary_home boolean DEFAULT false NOT NULL,
    account_id integer NOT NULL
);


ALTER TABLE public.holdings OWNER TO postgres;

--
-- Name: holdings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.holdings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.holdings_id_seq OWNER TO postgres;

--
-- Name: holdings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.holdings_id_seq OWNED BY public.holdings.id;


--
-- Name: portfolio_targets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.portfolio_targets (
    id integer NOT NULL,
    asset_class character varying NOT NULL,
    target_pct numeric(5,2) NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.portfolio_targets OWNER TO postgres;

--
-- Name: portfolio_targets_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.portfolio_targets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.portfolio_targets_id_seq OWNER TO postgres;

--
-- Name: portfolio_targets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.portfolio_targets_id_seq OWNED BY public.portfolio_targets.id;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    description character varying NOT NULL,
    amount numeric(10,2) NOT NULL,
    currency character varying NOT NULL,
    date timestamp without time zone NOT NULL,
    type character varying,
    "userId" uuid NOT NULL,
    "envelopeId" uuid,
    "accountId" integer,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: transfer_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transfer_rules (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    "userId" uuid NOT NULL,
    "conditionType" public.transfer_rules_conditiontype_enum DEFAULT 'MONTHLY_DATE'::public.transfer_rules_conditiontype_enum NOT NULL,
    "conditionValue" jsonb,
    "actionType" public.transfer_rules_actiontype_enum DEFAULT 'TRANSFER_PERCENTAGE'::public.transfer_rules_actiontype_enum NOT NULL,
    "actionValue" jsonb,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.transfer_rules OWNER TO postgres;

--
-- Name: user_portfolios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_portfolios (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userId" uuid NOT NULL,
    "assetId" uuid NOT NULL,
    amount numeric(10,2) NOT NULL,
    "purchasedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_portfolios OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying NOT NULL,
    "passwordHash" character varying,
    name character varying,
    settings jsonb DEFAULT '{}'::jsonb NOT NULL,
    "riskProfile" character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: accounts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts ALTER COLUMN id SET DEFAULT nextval('public.accounts_id_seq'::regclass);


--
-- Name: holdings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.holdings ALTER COLUMN id SET DEFAULT nextval('public.holdings_id_seq'::regclass);


--
-- Name: portfolio_targets id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.portfolio_targets ALTER COLUMN id SET DEFAULT nextval('public.portfolio_targets_id_seq'::regclass);


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts (id, name, currency_code, balance, type, is_primary, user_id) FROM stdin;
1	╪º┘ä╪▒╪º╪¼╪¡┘è	SAR	0.00	bank	f	a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
2	╪º┘ä╪¿╪▒┘â╪⌐	EGP	0.00	bank	f	a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
3	╪º┘ä╪▒╪º╪¼╪¡┘è	SAR	0.00	bank	f	da24e0ab-a1e3-4531-948c-87fd45ba0fea
\.


--
-- Data for Name: assets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, type, "userId") FROM stdin;
\.


--
-- Data for Name: envelopes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: holdings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.holdings (id, instrument_code, asset_id, units, is_primary_home, account_id) FROM stdin;
1	╪▒╪╡┘è╪» ┘â╪º╪┤	\N	16000.000000	f	1
2	╪┤┘ç╪º╪»╪⌐ 	\N	1000000.000000	f	2
3	WGF	d3333333-3333-3333-3333-333333333333	500.000000	f	1
4	100000	\N	100000.000000	f	3
\.


--
-- Data for Name: portfolio_targets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.portfolio_targets (id, asset_class, target_pct, user_id) FROM stdin;
\.


--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transfer_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transfer_rules (id, name, "userId", "conditionType", "conditionValue", "actionType", "actionValue", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: user_portfolios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_portfolios (id, "userId", "assetId", amount, "purchasedAt") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_id_seq', 3, true);


--
-- Name: holdings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.holdings_id_seq', 4, true);


--
-- Name: portfolio_targets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.portfolio_targets_id_seq', 1, false);


--
-- Name: categories PK_24dbc6126a28ff948da33e97d3b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "PK_24dbc6126a28ff948da33e97d3b" PRIMARY KEY (id);


--
-- Name: portfolio_targets PK_499c8e2673586fa6918d8273b10; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.portfolio_targets
    ADD CONSTRAINT "PK_499c8e2673586fa6918d8273b10" PRIMARY KEY (id);


--
-- Name: accounts PK_5a7a02c20412299d198e097a8fe; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT "PK_5a7a02c20412299d198e097a8fe" PRIMARY KEY (id);


--
-- Name: transfer_rules PK_66e5a48b942b3e91622d88b8488; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_rules
    ADD CONSTRAINT "PK_66e5a48b942b3e91622d88b8488" PRIMARY KEY (id);


--
-- Name: envelopes PK_9b027a52b6aefdd4532dc491359; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.envelopes
    ADD CONSTRAINT "PK_9b027a52b6aefdd4532dc491359" PRIMARY KEY (id);


--
-- Name: transactions PK_a219afd8dd77ed80f5a862f1db9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT "PK_a219afd8dd77ed80f5a862f1db9" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: user_portfolios PK_d4c75c2328d1fcc57c156c93a76; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_portfolios
    ADD CONSTRAINT "PK_d4c75c2328d1fcc57c156c93a76" PRIMARY KEY (id);


--
-- Name: assets PK_da96729a8b113377cfb6a62439c; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT "PK_da96729a8b113377cfb6a62439c" PRIMARY KEY (id);


--
-- Name: holdings PK_df4e42f95014be15a4ccc8547c0; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT "PK_df4e42f95014be15a4ccc8547c0" PRIMARY KEY (id);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: portfolio_targets FK_0ae86c45b6f66b9b1bca155ca1d; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.portfolio_targets
    ADD CONSTRAINT "FK_0ae86c45b6f66b9b1bca155ca1d" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: categories FK_13e8b2a21988bec6fdcbb1fa741; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "FK_13e8b2a21988bec6fdcbb1fa741" FOREIGN KEY ("userId") REFERENCES public.users(id);


--
-- Name: transactions FK_26d8aec71ae9efbe468043cd2b9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT "FK_26d8aec71ae9efbe468043cd2b9" FOREIGN KEY ("accountId") REFERENCES public.accounts(id);


--
-- Name: accounts FK_3000dad1da61b29953f07476324; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT "FK_3000dad1da61b29953f07476324" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: envelopes FK_3c513194de1f877f8f76c870e4b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.envelopes
    ADD CONSTRAINT "FK_3c513194de1f877f8f76c870e4b" FOREIGN KEY ("userId") REFERENCES public.users(id);


--
-- Name: user_portfolios FK_4c24a695c464de7e14922df886a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_portfolios
    ADD CONSTRAINT "FK_4c24a695c464de7e14922df886a" FOREIGN KEY ("assetId") REFERENCES public.assets(id);


--
-- Name: holdings FK_642580cfdfb9931a52d71faae02; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT "FK_642580cfdfb9931a52d71faae02" FOREIGN KEY (account_id) REFERENCES public.accounts(id) ON DELETE CASCADE;


--
-- Name: transactions FK_6bb58f2b6e30cb51a6504599f41; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT "FK_6bb58f2b6e30cb51a6504599f41" FOREIGN KEY ("userId") REFERENCES public.users(id);


--
-- Name: holdings FK_86bd4fa60281cf5d395c41164ee; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT "FK_86bd4fa60281cf5d395c41164ee" FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: user_portfolios FK_9e354ffd4d43e4b3c7864e52d5c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_portfolios
    ADD CONSTRAINT "FK_9e354ffd4d43e4b3c7864e52d5c" FOREIGN KEY ("userId") REFERENCES public.users(id);


--
-- Name: transactions FK_aa0d482b268e092f1165ec8509b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT "FK_aa0d482b268e092f1165ec8509b" FOREIGN KEY ("envelopeId") REFERENCES public.envelopes(id);


--
-- Name: transfer_rules FK_fb66b758c8785d3a5290e6ebd40; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_rules
    ADD CONSTRAINT "FK_fb66b758c8785d3a5290e6ebd40" FOREIGN KEY ("userId") REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict WpjPHOgOsxd1HJaVLdGmBAlBbuz6wBfgCO6uXq2YPItcqJmHQEIyKnVsrjTRHWt

